.container{
    height: 550px;
    width: 600px;
    float: left;
    margin: 5px;
    padding-left: 60px;
text-align: left;
background-color: rgb(183, 255, 251);
color: rgb(0, 0, 0);
}
label,input{
    display: block;
    font-size: 15px;
    border-radius: 5px;
}

.registro{
    height: 550px;
    width: 600px;
    margin: 5px;
    padding-left: 60px;
text-align: left;
float: right;
background-color: rgb(183, 255, 251);
color: rgb(0, 0, 0);
}

.cabecera
{
    background-color: rgb(235, 203, 235);
    text-align: center;
}


